<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Navdepp_Interior</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Navdepp_Interior.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Navdepp_Interior</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Design Idea</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Trends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Refer And Earn</a>
                        </li>
                    </ul>
                <button class="navbar-btn" asp-area="" asp-controller="Home" asp-action="Index">Get Free Estimate</button>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="PartialViews/Services"/>
    <partial name="PartialViews/whyChoice"/>

    <div id="fifth-main-container">
        <div class="fifth-inner-container">
            <h1 class="text-center fs-3">The Way We Work</h1>
            <p class="text-center mb-5">Five steps is all it takes to elevate your style of living.</p>
            <div class="d-flex px-5 fifth-text-container">
            <div class="fifth-right-container" style="width:50%;">
                <img src="~/image/we-work-web.webp" style="width:90%;">
            </div>

            <div class="fifth-left-container" style="width:50%;">
                <h5>1.Meet us</h5>
                <p>Let us know more about each other. We can meet over a cup of coffee or even online too. We'd like to know what you're looking for</p>
                <h5>2.Scope of Work</h5>
                <p>Now when you have made up your mind, it is the time to finalise the scope of work and talk about the essentials – materials and finishes, etc.</p>
                <h5>3.Seal of Deal</h5>
                <p>Once finalised, you can seal the deal by paying a signing amount of 10%. Pay 50% of the order value to kickstart the process and the balance before handover.</p>
                <h5>4.Execution</h5>
                <p>While we immediately begin work on your different orders, our quality control team keeps a strict check. We also keep you updated about the execution process.</p>
                <h5>Stamp of Approval</h5>
                <p>Congratulations! We are done. You can now move into your dream home.</p>
            </div>
            </div>
        </div>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Navdepp_Interior - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
