@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="\css\servicestylesheet.css" rel="stylesheet" />

<div id="service-main-container">
    <div class="service-inner-container d-flex flex-column align-items-center container">
        <div class="service-text text-center">
            <h1>Interior Design Services Under One Roof</h1>
            <p>From ideation to execution, we offer functional design solutions for your home.</p>
        </div>
        <div class="service-cards d-flex flex-wrap justify-content-center">
            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Modular Kitchen</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Wardrobes</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Master Bedroom</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">TV Unit</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Living Room</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Kitchen False Ceiling</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Bathroom</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Kids Room</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Kitchen Wall Tiles</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Balcony</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Pooja Mandir</p>
                </div>
            </div>

            <div class="card service-c align-items-center">
                <img src="\image\modular-kitchen.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Dining Room</p>
                </div>
            </div>
        </div>
        <button>Book Free Consultation</button>
    </div>
</div>
