@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/whychoicestylesheet.css" rel="stylesheet" />

<div id="why-main-container">
    <div class="why-inner-container d-flex flex-column align-items-center flex-wrap">
        <div class="why-text-items text-center">
            <h1>Why Choose us</h1>
            <p>With us, you experience the power of ideas, design and craftsmanship come alive.</p>
        </div>

        <div class="why-card-container d-flex text-center flex-wrap justify-content-center">
        <div class="card why-cards" style="border-left:none;">
                <img src="~/image/madeorder.svg" class="card-img-top mx-auto d-block" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Made to Order
                </h5>
                <p class="card-text">
                    We create personalised
                    spaces that cater to your
                    every requirement
                </p>
            </div>
        </div>

            <div class="card why-cards">
                <img src="~/image/madeorder.svg" class="card-img-top mx-auto d-block" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Lowest Prices
                    Guaranteed
                </h5>
                <p class="card-text">
                    We provide the best
                    possible solutions that
                    suit your finances.
                </p>
            </div>
        </div>

            <div class="card why-cards">
                <img src="~/image/madeorder.svg" class="card-img-top mx-auto d-block" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Quality Checks
                    At Every Step
                </h5>
                <p class="card-text">
                    We guarantee thorough
                    quality checks till project
                    completion
                </p>
            </div>
        </div>

            <div class="card why-cards">
                <img src="~/image/madeorder.svg" class="card-img-top mx-auto d-block" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Timely Delivery
                    Assurance
                </h5>
                <p class="card-text">
                    We proactively work on
                    commitments to maintain our benchmark of ontime delivery
                </p>
            </div>
        </div>

        <div class="card why-cards" style="border-right:none;">
            <img src="~/image/madeorder.svg" class="card-img-top mx-auto d-block" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    10-Year
                    Warranty
                </h5>
                <p class="card-text">
                    We invigorate client
                    relationships by offering
                    warranties that last a decade.
                </p>
            </div>
        </div>
        </div>
        <button>Book Free Consultation</button>
    </div>
</div>