@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/homeresponsive.css" rel="stylesheet" />
<div id="home-image-container">
    <div class="Home-img d-flex flex-column align-items-center justify-content-end">
        <h1>Interior Design that Speaks of You</h1>
        <p>from foundation to furnishings, we style your home like our own</p>
        <button>Book Free Consultation</button>
    </div>
</div>

<div class="container pt-5">
    <div class="turnkey-services d-flex justify-content-center flex-wrap">
        <div class="card me-3 text-center pt-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Complete Turnkey Services</h5>
                <p class="card-text mb-5">With an emphasis on details, extraordinary designs and exceptional customer service, we bring your dreams to life.</p>
                <a href="#" class="card-link">Know More</a>
            </div>
        </div>

        <div class="card homeCard me-3 text-center" style="width: 18rem;">
            <div class="card-image-container">
                <img src="~/image/wedesign.svg" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">We Design</h5>
                <p class="card-text">rom completed homes to modular kitchens, and storage to decor, our top interior designers create spaces that match your vision.</p>
            </div>
        </div>

        <div class="card homeCard me-3 text-center" style="width: 18rem;">
            <div class="card-image-container">
                <img src="~/image/weexecute.svg" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">We Execute</h5>
                <p class="card-text">We follow a meticulous planning approach with detail-driven designs for interiors of your homes.</p>
			</div>
        </div>

        <div class="card homeCard me-3 text-center" style="width: 18rem;">
            <div class="card-image-container">
                <img src="~/image/wemanage.svg" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">We Manage</h5>
                <p class="card-text">Our top interior designers spearhead quality assurance by extending support after the execution of home projects.</p>
            </div>
        </div>
    </div>
</div>